name: Release on Tag

on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.4.2
        with:
          fetch-depth: 0

      - name: Build project
        # Setup .npmrc file to publish to npm
        uses: actions/setup-node@v3.1.1
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
          always-auth: true

      - uses: actions/cache@v3.0.2
        id: cache
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-node${{ env.node-version }}

      - name: build
        run: |
          echo '//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}' > .npmrc
          echo 'registry: https://registry.npmjs.org/' >> .yarnrc
          yarn
          yarn config list
          yarn build

      - name: publish
        run: |
          yarn npm publish --access public
#        env:
#          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Changelog
        if: always()
        uses: scottbrenner/generate-changelog-action@v1.3.3
        id: Changelog
        env:
         REPO: ${{ github.repository }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
             ${{ steps.Changelog.outputs.changelog }}
